<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="prod, docker">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                        <timeZone>UTC+7</timeZone>
                    </timestamp>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <message>
                        <fieldName>message</fieldName>
                    </message>

                    <stackTrace>
                        <fieldName>stack_trace</fieldName>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <rootCauseFirst>true</rootCauseFirst>

                            <maxDepthPerThrowable>15</maxDepthPerThrowable>

                            <exclude>org\.springframework\..*</exclude>
                            <exclude>org\.apache\.tomcat\..*</exclude>
                            <exclude>org\.apache\.catalina\..*</exclude>
                            <exclude>java\.lang\.reflect\..*</exclude>
                            <exclude>jdk\.internal\.reflect\..*</exclude>
                            <exclude>org\.hibernate\..*</exclude>
                            <exclude>\$\$SpringCGLIB\$\$.*</exclude>
                        </throwableConverter>
                    </stackTrace>
                    <mdc>
                        <includeMdcKeyName>traceId</includeMdcKeyName>
                        <includeMdcKeyName>spanId</includeMdcKeyName>
                    </mdc>
                </providers>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!prod &amp; !docker">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>