<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="prod, docker">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                        <timeZone>UTC+7</timeZone>
                    </timestamp>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <message>
                        <fieldName>message</fieldName>
                    </message>
                    <mdc>
                        <includeMdcKeyName>traceId</includeMdcKeyName>
                        <includeMdcKeyName>spanId</includeMdcKeyName>
                    </mdc>
                </providers>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!prod &amp; !docker">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>